@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Add this CSS to your stylesheet */
  .glowing-border:hover {
    box-shadow: 0 0 10px 2px rgba(128, 128, 128, 1);
  }

  .button-text {
    white-space: nowrap;
  }

  .blue-button {
    background-color: #2d7eff;
    color: white;
    border-radius: 5px;
    padding: 14px 25px 14px 25px;
    font-size: 16px;
  }

  .gradient-text {
    background: linear-gradient(225deg, #2d7eff 0%, #57007b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .cta-gradient {
    background: linear-gradient(225deg, #ffc656 0%, #f16063 100%);
  }

.swiper-pagination.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #c4c4c4; 
  opacity: 1;
  margin: 0 4px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.swiper-pagination.custom-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(90deg, #2d7eff 0%, #57007b 100%);
}

.process-section {
  overflow-x: auto;
}

@media (min-width: 1024px) {
  .process-section {
    overflow-x: visible;
  }
}


}
